.header {
    color:black;
    font-style: bold;
}

.subheader {
    color: blue;
    font-style: italic;
}

.aboutMe {
    color: red;
    font-family:'Times New Roman';
    font-style: bold;
    padding-left: 10px;
}

.topOfPage {
    text-align: center;
    background-color: rgb(237, 146, 35);
    padding: 20px;
}

.navbar {
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.nav-option {
    color: rgb(50, 238, 50);
    margin-right: 15px;
}