.header {
    color:black;
    font-style: bold;
}

.subheader {
    color: blue;
    font-style: italic;
}

.overwatchBackground {
    text-align: center;
    background-image: url('https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt030bf3d606661d3c/633f5be164fe5a7d4481a16c/overwatch-section1-feature1.png?width=&format=webply&dpr=2&disable=upscale&quality=80');
}
.aboutMe {
    color: red;
    font-family:'Times New Roman';
    font-style: bold;
    padding-left: 10px;
}

.topOfPage {
    text-align: center;
    background-color: rgb(237, 146, 35);
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.backgroundImageTech {
    background-image: url('https://i.pinimg.com/736x/f3/ac/26/f3ac2640e72f9d6e22034da0e54db5b5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.columnSide {
    float:left;
    width: 25%;
}

.columnMiddle {
    float: left;
    width: 50%;
}

.navbar {
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.nav-option {
    color: rgb(50, 238, 50);
    margin-right: 15px;
}